* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: sans-serif;
}

/* TEXT */
h1 {
  margin: 0;
  /* margin-right: auto; */
  font-size: 1rem;
  font-weight: normal;
  /* min-width: 88px; */
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: .5rem 0;
}

i {
  font-size: 1.5rem;
  color: #afafaf;
}

.fa-circle {
  font-size: .75rem;
}

.greyBox {
  background-color: #e5e5e5;
  border-radius: 1rem;
}

/* LAYOUT */
header {
  width: 90%;
  height: 10vh;
  margin: auto;
  padding: .5rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* position: sticky;
  top: 0; */
}

header h1 {
  flex: 1;
  padding-right: auto;
}

header div {
  flex: 1;
  /* padding-left: auto; */
}

header img {
  width: 30%;
  margin-left: auto;
  display: block;
}

main {
  width: 90%;
  height: 79vh;
  overflow-y: auto;
  margin: 0 auto;
}

section {
  padding: .75rem;
  padding-top: 1px;
}

footer {
  width: 100%;
  height: 11vh;
  font-size: 2em;
  padding: 1.25rem 0 .5rem 0;
  background-color: white;
  /* position: fixed;
  bottom: 0; */
}

footer i {
  margin: 0 .75rem;
  font-size: 1.75rem;
}

/* VIEW SPECIFIC STYLING */
/* CALENDAR */
.calendar {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.month {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.week {
  display: flex;
  justify-content: space-around;
  color: white;
  margin: 0 .25rem;
}

.week h3 {
  margin: .5rem;
}

.calendar .greyBox {
  border-radius: .5rem;
}

.days {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.days>div {
  flex: 1;
  display: flex;
  text-align: left;
}

.days>div>div {
  flex: 1;
}

/* TASK */
.first {
  padding-top: 1rem;
}

.taskview h2 {
  font-size: 1rem;
  font-weight: normal;
}

/* TASK AND PROJECT */
.task {
  border-radius: .5rem;
  background-color: pink;
  margin: .5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task p {
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.25rem;
  margin: .75rem 0;
}

.task i {
  color: white;
  margin: .5rem;
}

.life {
  background-color: #00cfff;
}

.class {
  background-color: #f93e97;
}

.job {
  background-color: #00ffda;
}

.intern {
  background-color: #8841f7;
}

/* PROJECT */
.project .greyBox {
  margin-bottom: 1rem;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #afafaf;
}